################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BudgetPlannerBlazor/FileContentIndex
/.vs
/BudgetPlannerBlazor/bin/Debug/net6.0
/BudgetPlannerBlazor/obj/Debug/net6.0
/BudgetPlannerBlazor/obj
