@page "/about"
<h3>About this app</h3>

<div class="card">
    <div class="card-body" style="width:auto">
        Main goal of budget planner are:
        <ul>
            <li> to help me with learning how to create fully functional web 
        application using Blazor WebAssembly technology</li>
            <li> improve my ability to manage my budget :)  </li>
        </ul>   
    </div>
</div>
@code {

}
