@page "/login"

<PageTitle>Index</PageTitle>

<h1>Hello, guest</h1>


<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Enter your password" />
                <small id="passwordHelp" class="form-text text-muted">Never share your password</small>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>
