@page "/about"
<h3>About this app</h3>

<div class="card">
    <div class="card-body" style="width:auto">
        Main goal of budget planner are:
        <br/> - to help me with learning how to create fully functional web 
        application using Blazor WebAssembly technology
        <br/> - improve my ability to manage my budget :)    
    </div>
</div>
@code {

}
